<!--注释是代码之母-->
{% extends 'layout.html' %}
{#{% block content %}#}
{#    <a href="/api/custom/"><span class="icon-wrap"><i class="fa fa-map-o" aria-hidden="true"></i></span> 书籍管理 </a>#}
{#{% endblock %}#}
{% block link %}
    <link rel="stylesheet" href="/static/sweetalert/sweetalert.css">
{% endblock %}
{% block content %}
    <a href="/cmdb/cmdbinfo/"><span class="icon-wrap"><i class="fa fa-map-o" aria-hidden="true"></i></span> 资产信息 </a>
{% endblock %}
{% block layout %}
<div >
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">资产信息列表</h3>
  </div>
</div>
<div class="panel-body">
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 15px">
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">搜索</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-1 pull-right"  >
                            <a class="btn btn-success" href="/cmdb/cmdb_add/">添加</a>
{#                            <button class="btn btn-success" data-toggle="modal" data-target="#myModal" id="a1">添加</button>#}

                        </div>

                    </div><!-- /.row -->
    <table class="table table-bordered">
      <thead>
        <tr>
            <th>序号</th>
            <th>id</th>
            <th>主机名</th>
{#            <th>F5地址</th>#}
            <th>内网IP</th>
{#            <th>外网IP</th>#}
            <th>CPU</th>
            <th>内存</th>
            <th>硬盘</th>
            <th>项目组</th>
{#            <th>机房位置</th>#}
{#            <th>服务类别</th>#}
{#            <th>服务端口</th>#}
{#            <th>服务状态</th>#}
{#            <th>服务名称</th>#}
            <th>创建时间</th>
{#            <th>更新时间</th>#}
            <th>备注</th>
            <th>操作</th>

        </tr>
      </thead>
        <tbody>
        {% for row in cmdb_list %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ row.id }}</td>
            <td>{{ row.hostname }}</td>
{#            <td>{{ row.F5 }}</td>#}
            <td>{{ row.network_ip }}</td>
{#            <td>{{ row.inner_ip }}</td>#}
            <td>{{ row.cpu }}</td>
            <td>{{ row.memory }}</td>
            <td>{{ row.disk }}</td>
            <td>{{ row.platform}}</td>
{#            <td>{{ row.region }}</td>#}
{#            <td>{{ row.weblogic }}</td>#}
{#            <td>{{ row.weblogic_port }}</td>#}
{#            <td>{{ row.is_active }}</td>#}
{#            <td>{{ row.name_war }}</td>#}
            <td>{{ row.ctime|date:'Y-m-d' }}</td>
{#            <td>{{ row.utime }}</td>#}
            <td>{{ row.ps }}</td>
            <td>
{#                <a class="btn btn-danger" href="#">删除</a>#}
        <button class="btn btn-danger del"><i class="fa fa-trash-o">删除</i></button>
                <a class="btn btn-info" href="#" >编辑</a>
            </td>
            </tr>
        {% endfor %}

        </tbody>
</table>
<nav aria-label="Page navigation">
      <ul class="pagination">
          {{ page_info.pager|safe }}
      </ul>
    </nav>
</div>
</div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/sweetalert/sweetalert.min.js"></script>
    <script src="/static/js/setupajax.js"></script>

<script>

    // 找到删除按钮绑定事件
    $(".del").on("click", function () {
        var $trEle = $(this).parent().parent();
        var delId = $trEle.children().eq(1).text();

        swal({
          title: "你确定要删除吗？",
          text: "一旦删除就找不回来了",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-warning",
          confirmButtonText: "确认",
          cancelButtonText: "取消",
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        },
        function(){
            // 向后端发送删除的请求
            $.ajax({
                url: "/cmdb/cmdb_del/",
                type: "post",
                data: {"nid":delId},
                success:function (arg) {
                    swal(arg, "你可以跑路了！", "success");
                    $trEle.remove();
                }
            });

        });
    });

</script>

{% endblock %}